.maps {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.item {
  display: flex;
  width: 100%;
}

.button {
  align-items: center;
  background-color: var(--color-dark);
  border-radius: var(--radius-small);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-small);
  gap: var(--spacing-1);
  height: var(--height-input-medium);
  justify-content: space-between;
  padding-inline: var(--spacing-3);
  white-space: nowrap;
  width: 100%;
}

.button:not(:disabled):hover {
  filter: brightness(1.4);
}
